body {
    padding-top: 56px;
}

nav {
    background-color: white;
}


a {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("../img/treelines.png");
    background-size: 60px;
}

#matrix {
    border: 1px solid black;
    margin: 0 auto;
}

#matrix button {
    height: 30px;
    width: 30px;
    background-color: #e1e1e1;
    font-size: x-small;
    color: black;
    border: none;
}

#matrix button:hover {
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

button:focus {
    outline: 0;
}

.btn-sm {
    /*border-radius: 0;*/
    background-color: darkgray;
}

.navbar {
    border-bottom: 1px black solid;
}

.nav-link:hover {
    color: darkgray;
}

.btn {
    background-color: black;
    color: white;
    border-color: gray;
}

.btn:hover {
    color: black;
    background-color: darkgray;
    border-color: black;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.btn-light {
    margin-left: 250px;
}

footer {
    background-color: black;
}
