body {
    padding-top: 56px;
}

nav {
    background-color: white;
}

header {
    background-color: black;
}

a {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("../img/treelines.png");
    background-size: 60px;
}

#matrix {
    border: 1px solid black;
    margin: 0 auto;
}

#matrix button {
    height: 40px;
    width: 40px;
    background-color: #e1e1e1;
    /*font-family: helvetica, serif;*/
    border: none;
}

#matrix button:hover {
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

button:focus {
    outline: 0;
}

.navbar {
    border-bottom: 1px black solid;
}

.btn {
    background-color: black;
    color: white;
    border-color: gray;
}

.btn-light {
    margin-left: 250px;
}
